.card {
    padding: 2em;
    width: 300px;
    height: 340px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 40px;
}

.for-sale {
    position: absolute;
    top: 9%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: left;
    background-color: #1c1f2b;
    z-index: 1;
}

.navbar > ul > li {
    display: inline-block;
}

.navbar > ul > li > a {
    display: block;
    color: rgb(238, 236, 232);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    background-color: #323a54;
}


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

p {
    font-family: 'Iosevka Web';
    color: white;
}

.price {
    color: greenyellow;
}

body {
    background-color: #2a2d3e;
}